/node_modules
/public/hot
/public/job_attachments
/public/storage
/storage/*.key
/storage/app/backup
/storage/framework/laravel-excel
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
public/phpmyadmin
composer.phar
/resources/docs/source/.compare.md
/resources/docs/source/index.md
/resources/views/apidoc/index.blade.php
